<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Matthieu Harlé - Full stack Developer</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <main>
    <div class="card">
      <div class="card-body">
        <h1>Matthieu Harlé</h1>
        <img src="me.jpg" class="me" title="My legendary out-of-focus face with someone pressing on my puffed-out cheek.">
        <h2>Amiens, France</h2>
        <p>Full stack developer, amateur photographer</p>
        <p>Currently working at <strong><a href="https://les-tilleuls.coop/" class="tilleuls">Les-Tilleuls.coop</a></strong></p>
        <p class="emojis">👨🏻‍💻 📸 🐈 📚</p>
        <hr>
        <h3>Find me</h3>
        <div class="find-me-icons">
          <div>
            <a href="https://github.com/Shywim" class="somewhere github">
              <img src="icons/github.svg" title="My GitHub profile">
            </a>
          </div>
          <div>
            <a href="https://gitlab.com/Shywim" class="somewhere gitlab">
              <img src="icons/gitlab.svg" title="My GitLab profile">
            </a>
          </div>
          <div>
            <a href="https://twitter.com/Shywim" class="somewhere twitter">
              <img src="icons/twitter.svg" title="My Twitter profile">
            </a>
          </div>
        </div>
        <hr>
        <h3>Contact</h3>
        <a href="mailto:bonjour@matthieuharle.com">bonjour@matthieuharle.com</a>
      </div>
    </div>
  </main>
</body>
</html>